$main-color: #423939;
$second-color: #ededed;

.config {
  position: relative;
  margin-top: 25px;
  &__input {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &_btn {
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      margin-top: 10px;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__input-value {
    background-color: $second-color;
    color: $main-color;
    border: none;
    text-align: center;
  }
  &__button-on {
    position: absolute;
    left: 0;
    background-color: $main-color;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    transform: translateX(0);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  &__button {
    background-color: $second-color;
    position: relative;
    width: 30px;
    border-radius: 3px;
    input {
      opacity: 0;
      &:checked~.config__button-on {
        transform: translateX(100%);
        border-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $second-color;
    padding: 5px;
    position: relative;
    border-radius: 5px;
  }
  &__inc,
  &__dec {
    position: relative;
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;
    &::after, &::before {
      content: '';
      border-radius: 5px;
      position: absolute;
      background-color: $main-color;
    }
    &::after {
      height: 2px;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  &__inc {
    right: 0;
  }
  &__dec {
    left: 0;
  }
  &__inc::before {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

[type=number]::-webkit-outer-spin-button,
[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}