{
  "extends": [
    "airbnb-typescript/base",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "console": true
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "semi": [
      "warn",
      "always"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "linebreak-style": 0,
    "indent": "off",
    "@typescript-eslint/indent": [
      "error"
    ]
  }
}