body {
  background-color: rgb(27, 25, 25);
  font-family: sans-serif;
}
.slider-name {
  color: rgb(65, 49, 49);
}
.slider-container {
  position: relative;
  width: 400px;
  margin-top: 100px;
  margin-left: 100px;
}
.slider {
  width: 400px;
  height: 20px;
  background-color: #100d0d;
  position: relative;
  &__values {
    display: flex;
    justify-content: space-between;
  }
  &__values-lower,
  &__values-upper {
    font-size: 24px;
    width: 40px;
    height: 20px;
    margin-bottom: 32px;
    background-color: rgb(27, 25, 25);
    border: none;
  }
  &__values-lower:focus,
  &__values-upper:focus {
    outline: none;
  }

  &__handle-lower,
  &__handle-upper {
    position: absolute;
    width: 36px;
    height: 32px;
    background-color: black;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__handle-lower {
    left: 0;
  }
  &__handle-upper {
    left: 400px;
  }
  &__highlight {
    width: 100%;
    background-color: black;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 0;
    top: 0;
  }
  &__handle-lower-count,
  &__handle-upper-count {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -100%);
    user-select: none;
    font-size: 22px;
  }
}
