body {
  background-color: rgb(27, 25, 25);
  font-family: sans-serif;
}
.slider-container {
  position: relative;
  margin: 0 auto;
  max-width: 50vw;
  margin-top: 100px;
}
.slider {
  width: 100%;
  max-width: 50vw;
  position: relative;
  padding: 10px;
  &__tracker {
    background-color: #100d0d;
    height: 20px;
    width: 100%;
    position: relative;
    border-radius: 5px;
  }
  &__values-lower,
  &__values-upper {
    font-size: 24px;
    width: 40px;
    height: 20px;
    margin-bottom: 32px;
    background-color: rgb(27, 25, 25);
    border: none;
  }
  &__values-lower:focus,
  &__values-upper:focus {
    outline: none;
  }

  &__handle-lower,
  &__handle-upper {
    position: absolute;
    width: 36px;
    height: 32px;
    background-color: black;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 5px;
  }
  &__handle-lower {
    left: 0;
    &_vertical {
      top: 0;
      left: 50%;
    }
  }
  &__handle-upper {
    &_vertical {
      left: 50%;
    }
  }
  &__highlight {
    width: 100%;
    background-color: black;
    height: 100%;
    left: 0;
    position: relative;
    z-index: 0;
    top: 0;
    border-radius: 5px
  }
  &__handle-lower-count,
  &__handle-upper-count {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -100%);
    user-select: none;
  }
  &__scale {
    position: relative;
  }
  &__scale-container {
    position: absolute;
    transform: translateY(100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__scale-marker {
    width: 2px;
    height: 10px;
    background-color: black;
    &_large {
      width: 3px;
      height: 20px;
    }
  }
  &__scale-value {
    position: relative;
  }
  &__scale-value-container {
    margin-top: 50px;
    height: 1rem;
  }
  &__scale-marker-value {
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
    height: 1rem;
    font-size: 1.3vw;
  }
}

.slider_vertical {
  min-height: 200px;
  height: 100%;
  .slider__tracker {
    height: 100%;
    width: 20px;
    position: absolute;
  }
  .slider__scale {
    height: 100%;
    transform: none;
    margin-left: 100px;
    position: absolute;
  }
  
  .slider__scale-container {
    width: 30px;
    height: 100%;
    flex-direction: column;
    transform: none;
  }

  .slider__scale-value {
    position: absolute;
    height: 100%;
  }

  .slider__scale-value-container {
    margin-top: 0;
  }
  
  .slider__scale-marker {
    width: 10px;
    height: 2px;   
    &_large {
      width: 20px;
      height: 3px;
    }
  }
  
  .slider__scale-marker-value {
    transform: translateY(-50%);
    cursor: pointer;
    margin-left: 150px;
  }

  .slider__handle-lower {
      top: 0;
      left: 50%;
  }
  
  .slider__handle-upper {
      left: 50%;
  }
  .slider__handle-lower-count,
  .slider__handle-upper-count {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(100%, -50%);
  }
}
.config {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__input {
    display: flex;
    flex-direction: column;
  }
  .config-input {
    background-color: #100d0d;
    color: darkslategray;
    border: none;
    font-size: 20px;
    text-align: center;
    &__position, &__type, &__tool-tip{
      border: 1px solid black;
      position: relative;
      padding: 5px;
      width: 55px;
    }
    &__button {
      position: absolute;
      left: 0;
      background-color: #1b1919;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
    }
    &_orientation, &_type, &_tool-tip {
      opacity: 0;
      &:checked~.config-input__button {
        transform: translateX(100%);
      }
    }
  }
  &__input-min,
  &__input-max,
  &__input-step {
    display: inline-flex;
    align-items: center;
    background-color: #100d0d;
    padding: 5px;
  }
  .config-label {
    display: inline-flex;
    background-color: #100d0d;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    padding: 5px;
  }
  &__inc, &__dec {
    color: darkslategray;
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: darkslategray;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  } 
  &__inc::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: darkslategray;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

[type=number]::-webkit-outer-spin-button,
[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}